* {
    margin: 0;
}

.container {
    background-image: url("background.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    padding: 0 5%;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 15vh;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.cart {
    width: 40px;
    cursor: pointer;
}

nav {
    flex: 1;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.content {
    margin-top: 10%;
    margin-left: 10%;
}

.content h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
}

.content p {
    font-size: 20px;
    color: #6a7199;
}


.btn {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}

.arrow__icon {
    margin-top: 40px;
    display: flex;
    cursor: pointer;
}

.arrow__icon img {
    width: 40px;
    margin-right: 25px
}

.feature__img {
    position: absolute;
    height: 90%;
    bottom: 0;
    right: 160px;
}

.socials__link{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}

.socials__link a {
    text-decoration: none;
    color: #6a7199;
    font-size: 14px;
    padding-right: 20px;
}